@import url("https://fonts.googleapis.com/css?family=Tajawal");
@import url("https://fonts.googleapis.com/css?family=Ruluko");

@import url('./styles/searchUI.css');
@import url('./styles/searchResults.css');
@import url('./styles/container.css');
@import url('./styles/headerBar.css');

:root {
    --bite-green: hsl(94, 41%, 58%);
    --bite-brown: hsl(25, 76%, 31%);

    --header-height: 100px;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Ruluko', 'Tajawal', sans-serif;
    background-image: url("./images/food.svg");
    background-repeat: repeat;
    background-attachment: fixed;
}

* {
    font-family: 'Ruluko';
}
